<!DOCTYPE html>
@model ICollection<Eventis.Models.Eventis.Event>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hall</title>
</head>
<body>
    <div class="row"> 
        @if (!Model.Any())
        {
        <h2 class="text-center">There is no Events for this Hall!</h2>
        }
        <div class="row mt-30">
            @foreach (var i in Model)
            {
                <div class="jumbotron col-md-5">
                    @{
                        if (i.Title.Length >= 10)
                        {
                            string res = i.Title.Substring(0, 9);
                            <h1 class="text-center">@res...</h1>
                        }
                        else
                        {
                            <h1 class="text-center">@i.Title</h1>
                        }
                    }

                    <p class="text-center">
                        <a class="btn btn-default disabled text-center" href="/Home/Index">@i.Status</a>
                    </p>

                    <p class="text-right mt-30">
                        <a class="btn btn-default" href="/Events/Details/@i.Id">
                            <img src="@i.ImagePath" class="img-responsive" style="width:350px ; height:200px" />Take a look!
                        </a>
                    </p>

                    <div class="row mt-30">
                        <p class="col-md-6 lead">
                            View count:
                        </p>
                        <p class="col-md-6 text-right lead">
                            @i.ViewCount
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-md-6 lead">
                            Start Date:
                        </p>
                        <p class="col-md-6 text-right lead">
                            @i.StartDate.ToString("dd MMMM , yyyy")
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-md-6 lead">
                            Category:
                        </p>
                        <p class="col-md-6 text-right lead">
                            @i.Genre.Category.Name
                        </p>
                    </div>
                </div>
                <div class="col-md-1"></div>
                        }
        </div>
        <hr />
     </div>
</body>
</html>
