<!DOCTYPE html>
@model ICollection<Eventis.Models.Eventis.Event>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hall</title>
</head>
<body>
    <div class="row"> 
        @if (!Model.Any())
        {
        <h2 class="text-center">There is no Events for this Hall!</h2>
        }
        <div class="row mt-30">
            @foreach (var iEvent in Model)
            {
                <div class="jumbotron col-md-5">
                    @{
                        if (iEvent.Title.Length >= 10)
                        {
                            string res = iEvent.Title.Substring(0, 9);
                            <h1 class="text-center">@res...</h1>
                        }
                        else
                        {
                            <h1 class="text-center">@iEvent.Title</h1>
                        }
                    }

                    <p class="text-center">
                        <a class="btn btn-default disabled text-center" href="/Home/Index">@iEvent.Status</a>
                    </p>

                    <p class="text-right mt-30">
                        <a class="btn btn-default" href="/Events/Details/@iEvent.Id">
                            <img src="@iEvent.ImagePath" class="img-responsive" style="width:350px ; height:200px" />Take a look!
                        </a>
                    </p>

                    <div class="row mt-30">
                        <p class="col-md-6 lead">
                            View count:
                        </p>
                        <p class="col-md-6 text-right lead">
                            @iEvent.ViewCount
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-md-6 lead">
                            Start Date:
                        </p>
                        <p class="col-md-6 text-right lead">
                            @iEvent.StartDate.ToString("dd MMMM , yyyy")
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-md-6 lead">
                            Category:
                        </p>
                        <p class="col-md-6 text-right lead">
                            @iEvent.Genre.Category.Name
                        </p>
                    </div>
                </div>
                <div class="col-md-1"></div>
                        }
        </div>
        <hr />
     </div>
    @{
        var currentUserQuery = Request.QueryString["Id"];
    }
    <div class="row">
        <p class="text-center mt-30 ">
            <a href="/Home/Halls/@(Url.RequestContext.RouteData.Values["id"])?page=@(ViewBag.CurrentPage - 1)@(currentUserQuery != null ? "&user=" +currentUserQuery : string.Empty)" class="btn btn-primary @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)">Previous page</a>
            <a href="/Home/Halls/@(Url.RequestContext.RouteData.Values["id"])?page=@(ViewBag.CurrentPage + 1)@(currentUserQuery != null ? "&user=" +currentUserQuery : string.Empty)" class="btn btn-primary @(!Model.Any() || Model.Count < 6 ? "disabled" : string.Empty)">Next page</a>
        </p>
    </div>
    
</body>
</html>
