<!DOCTYPE html>
@model ICollection<Eventis.Models.Eventis.Event>
@{
    ViewBag.Title = "Hall";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hall</title>
</head>
<body>
    <div class="row"> 
        @if (!Model.Any())
        {
        <h2 class="text-center">There is no Events for this Hall!</h2>
        }
        @foreach (var item in Model)
        {
            <div class="corners col-md-6">
                <h1 class="text-center">@item.Title</h1>

                <p class="text-center">
                    <a class="btn btn-default disabled text-center" href="/Home/Index">@item.Status</a>
                </p>

                <img src="@item.ImagePath" class="img-responsive" />

                <div class="row mt-30">
                    <p class="col-md-6 lead">
                        View count:
                    </p>
                    <p class="col-md-6 text-right lead">
                        @item.ViewCount
                    </p>
                </div>
                <div class="row">
                    <p class="col-md-6 lead">
                        Start Date:
                    </p>
                    <p class="col-md-6 text-right lead">
                        @item.StartDate
                    </p>
                </div>
                <div class="row">
                    <p class="col-md-6 lead">
                        Category:
                    </p>
                    <p class="col-md-6 text-right lead">
                        @item.Category.Name
                    </p>
                </div>

                <p class="text-right mt-30">
                    <a class="btn btn-info" href="/Events/Details/@item.Id">Take a look!</a>
                </p>
            </div>
        }

    </div>
</body>
</html>
