@{
    ViewBag.Title = "Home Page";
}

@model ICollection<Eventis.Models.Eventis.Event>

<div class="jumbotron">
    <img  class="img-responsive" src="../EventisLogo/eventisweb.jpg" alt="EventisLogo">
    <h2 class="text-center" style="color:cadetblue">EVENTS BECOME FEELINGS,FEELINGS BECOME EVENTS</h2>
    <p class="text-center">
        @{
            bool val1 = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated;
            if (val1)
            {
                <a href="/Events/CreateEvent" class="btn btn-primary btn-lg">Add Event!</a>
            }
            else
            {
                <a href="/Account/Register" class="btn btn-primary btn-lg">Register now!</a>
            }
        }</p>
</div>

<hr />
<div class="row mt-30">
    @foreach (var i in Model)
    {
        <div class="jumbotron col-md-5">
            @{
                if (i.Title.Length >= 10)
                {
                    string res = i.Title.Substring(0, 9);
                    <h1 class="text-center">@res...</h1>
                }
                else
                {
                    <h1 class="text-center">@i.Title</h1>
                }
            }

            <p class="text-center">
                <a class="btn btn-default disabled text-center" href="/Home/Index">@i.Status</a>
            </p>

            <p class="text-right mt-30">
                <a class="btn btn-default" href="/Events/Details/@i.Id">
                    <img src="@i.ImagePath" class="img-responsive" style="width:350px ; height:200px" />Take a look!
                </a>
            </p>

            <div class="row mt-30">
                <p class="col-md-6 lead">
                    View count:
                </p>
                <p class="col-md-6 text-right lead">
                    @i.ViewCount
                </p>
            </div>
            <div class="row">
                <p class="col-md-6 lead">
                    Start Date:
                </p>
                <p class="col-md-6 text-right lead">
                    @i.StartDate.ToString("dd MMMM , yyyy")
                </p>
            </div>
            <div class="row">
                <p class="col-md-6 lead">
                    Category:
                </p>
                <p class="col-md-6 text-right lead">
                    @i.Genre.Category.Name
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
    }
</div>