@model Eventis.Models.CRUD.CreateEvent

@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("CreateEvent", "Events", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <form class="form-control">
        <fieldset>
            <legend>Create Event</legend>
            <br />
            <div id="accordion">
                <h2>Event Information</h2>
                <fieldset>
                    <div class="form-group">
                        <label for="textBox" class="col-lg-2 control-label md-10">Title</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", required = "required", pattern = ".{5,20}", Title = "Title cannot be less than 5 characters and more than 20" })
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label md-10">Content</label>
                        <div class="col-lg-10 md-10">
                            @Html.TextBoxFor(m => m.Content, new { @class = "form-control", required = "required", Pattern = ".{10,100}", Title = "Title cannot be less than 10 characters and more than 100" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="select" class="col-lg-2 control-label md-10">Category/Genre</label>
                        <div class="col-lg-10 md-10">
                            <select class="form-control" id="select myGanreDropDown div1" name="mygen" runat="server">
                                    <optgroup label="Music">
                                        <option>Pop Folk</option>
                                        <option>Rock</option>
                                        <option>Techno</option>
                                    </optgroup>
                                    <optgroup label="Movie">
                                        <option>Comedy</option>
                                        <option>Horror</option>
                                        <option>Action</option>
                                    </optgroup>
                                    <optgroup label="Science">
                                        <option>Chemistry</option>
                                        <option>Math</option>
                                        <option>Physic</option>
                                    </optgroup>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="textBox" class="col-lg-2 control-label md-10">ImagePath</label>
                        <div class="col-lg-10 md-10">
                            @Html.TextBoxFor(m => m.ImagePath, new { @class = "form-control" })
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label for="select" class="col-lg-2 control-label md-10">Status</label>
                        <div class="col-lg-10 md-10">
                            @Html.EnumDropDownListFor(m => m.Status, new { @class = "form-control", @name = "mystat" })
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label for="textBox" class="col-lg-2 control-label md-10">Start Date</label>
                        <div class="col-lg-10 md-10">
                                <input required = "required" class="form-control datepicker" type="text" id="datepicker" name="mydate">
                            </div>
                    </div>
                    <br />
                </fieldset>
                <h2>Place</h2>
                <fieldset>
                    <div class="form-group">
                        <label for="textBox" class="col-lg-2 control-label md-10">City</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="select" name="mycity" runat="Server">
                                @foreach (var city in ViewBag.Cities)
                                {
                                    <option>@city.Name</option>
                                }
                            </select>

                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label for="textBox" class="col-lg-2 control-label md-10">Hall Name</label>
                        <div class="col-lg-10 md-10">
                            <select class="form-control" id="select" name="myhall" runat="Server">
                                @foreach (var hall in ViewBag.Halls)
                                {
                                    <option>@hall.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br />

                    <br />
                </fieldset>
            </div>
            <br />

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" href="/" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </div>
        </fieldset>
    </form>
}