@model Eventis.Models.Eventis.Event

<div class="row mt-30">
    <div class="col-md-12">
        <h1 class="text-primary text-center">@Model.Title</h1>
    </div>
</div>
<div class="row mt-30">
    <div class="col-md-12">
        <h1 class="text-primary text-center">Status: @Model.Status | Date: @Model.StartDate.ToString("dd MMMM , yyyy")</h1>
    </div>
</div>
<div class="row mt-30 text-center">
    <a class="btn btn-primary btn-lg text-center col-md-12" onclick="myFunction()">Collapse the image</a>
    <img id="slide" src="@Model.ImagePath" class="img-responsive col-md-12" alt="">
    <script>
        function myFunction() {
            $("#slide").animate({ width: 'toggle' }, 350);
        }
    </script>
</div>
<div class="row mt-30">
    <div class="col-md-12 text-center">
        <p class="lead">Description : <span class=" text-info lead">@Model.Content</span></p>
        <p class="lead">Event category : <a class="btn btn-info" href="/Home/Genres/@Model.CategoryId">@Model.Genre.Name</a></p>

    </div>
</div>
<div class="row">
    <div class="row-md-6">
        <p class="text-center lead">
            Contact :<span><a class="text-info" href="mailto:@Model.Author.UserName">@Model.Author.UserName</a></span> for more information about the event.
        </p>
    </div>

    <div class="row-md-6">
        <p class="text-center lead">
            @Model.ViewCount people were here to check this event so far
        </p>
    </div>
</div>

@*Comment section below*@

<div class="row mt-30 text-center">
    <a class="btn btn-primary btn-lg text-center col-md-12" onclick="myFunction2()">Collapse the Comments</a>
    <script>
        function myFunction2() {
            $("#collapseComment").animate({ width: 'toggle' }, 350);
        }
    </script>
    <div id="collapseComment">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                @foreach (var c in Model.Comments.OrderByDescending(x=>x.Id))
                {
                    <fieldset>
                        <legend>Comment:</legend>
                        <div class="col-md-12 text-left">
                            <p class="lead">Author : <span class=" text-info lead">@c.Author.UserName</span></p>
                            <p class="lead">Comment : <span class=" text-info lead">@c.Content</span></p>
                        </div>
                    </fieldset>
                }
            </div>
            <div class="col-md-4"></div>
        </div>
        @using Eventis.Models.Eventis.ViewModels
        @Html.Partial("_CommentPartial", new CommentViewModel() { EventId = Model.Id })
    </div>
</div>
