@model Eventis.Models.Eventis.Event
    @using Microsoft.AspNet.Identity;

<div class="row mt-30">
    <div class="col-md-12">
        <h1 class="text-primary text-center">@Model.Title</h1>
    </div>
</div>
<div class="row mt-30">
    <div class="col-md-12">
        <h1 class="text-primary text-center">
            Status:
            <span>
                @if (Model.Status.ToString() == "Finished")
                {
                    <span class="text-danger"> @(Model.Status)</span> <span>|</span> <span> Date: @Model.StartDate.ToString("dd MMMM , yyyy")</span>
                }
                @if (Model.Status.ToString() == "Open")
                {
                    <span class="text-success"> @(Model.Status)</span> <span>|</span> <span> Date: @Model.StartDate.ToString("dd MMMM , yyyy")</span>
                }
                @if (Model.Status.ToString() == "Upcoming")
                {
                    <span class="text-success"> @(Model.Status)</span> <span>|</span> <span> Date: @Model.StartDate.ToString("dd MMMM , yyyy")</span>
                }
            </span>
        </h1>
    </div>
</div>
<hr />
<div class="row mt-30 text-center">
    <a class="btn btn-primary btn-lg text-center col-md-12" onclick="myFunction()">Collapse the image</a>
    <img id="slide" src="@Model.ImagePath" class="img-responsive col-md-12" alt="">
    <script>
        function myFunction() {
            $("#slide").animate({ width: 'toggle' }, 350);
        }
    </script>
</div>
<hr />
<div class="row mt-30">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p class="lead">Description : <span class="text-info lead" style="overflow-wrap:break-word">@Model.Content</span></p>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p class="lead">Event genre: <a class="btn btn-info" href="/Home/Genres/@Model.GenreId">@Model.Genre.Name</a></p>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p class="text-left lead">
            @Model.ViewCount people were here to check this event so far
        </p>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p class="text-left lead">
            Contact :<span><a class="text-info" href="mailto:@Model.Author.UserName">@Model.Author.UserName</a></span> for more information about the event.
        </p>
       @{ var comentCount = Model.Comments.Count.ToString(); }
        
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated && (User.IsInRole("Administrators") || (Model.IsAuthor(User.Identity.GetUserId()))))
        {
            @Html.ActionLink("Edit", "Edit", "Events", new {@id = Model.Id}, new { @class = "btn btn-success btn-xs" })
            @Html.ActionLink("Delete", "Delete", "Events", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
        }
    </div>
    <div class="col-md-4"></div>
</div>
@*Comment section below*@

<div>
    @using Eventis.Models.Eventis.ViewModels
    @Html.Partial("_CommentPartial", new CommentViewModel() { EventId = Model.Id })
</div>
<div class="row mt-30 text-center">
    <a class="btn btn-primary btn-lg text-center col-md-12" onclick="myFunction2()">Hide/Show Comments - @comentCount</a>
    <script>
        function myFunction2() {
            $("#collapseComment").animate({ width: 'toggle' }, 350);
        }
    </script>
    <div>
        @{
            var images = new List<string>()
    {
        "http://icons.iconarchive.com/icons/martin-berube/flat-animal/128/sheep-icon.png",
        "http://icons.iconarchive.com/icons/martin-berube/flat-animal/128/pig-icon.png",
        "http://icons.iconarchive.com/icons/martin-berube/square-animal/256/Eagle-icon.png",
        "http://icons.iconarchive.com/icons/martin-berube/flat-animal/256/squirrel-icon.png",
        "http://icons.iconarchive.com/icons/martin-berube/flat-animal/256/dog-icon.png",
        "http://icons.iconarchive.com/icons/martin-berube/animal/256/owl-icon.png",
        "http://icons.iconarchive.com/icons/martin-berube/flat-animal/256/duck-icon.png",
        "http://icons.iconarchive.com/icons/martin-berube/flat-animal/256/cat-icon.png"
    };
            Random ran = new Random();
        }
    </div>

    <div id="collapseComment">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                @foreach (var c in Model.Comments.OrderByDescending(x => x.Id))
                {
                    <div class="jumbotron container mt-30" style="background-color:#e0f7ff">
                        <div class="col-md-12 text-left">
                          <div class="row">
                              <div class="col-md-4 pull-left ">
                                  @{
                                      var randomNum = ran.Next(0, 8);
                                      <img src="@images[randomNum]" alt="Smiley face" height="45" width="45" class="img-circle img-responsive">
                                  }
                              </div>
                              <div class="col-md-8 r">
                                  <span class="text-info lead">@c.Author.UserName </span>
                                  
                              </div>
                          </div>
                            <hr class="alert-danger" />
                            <p class="lead" style="width:200px ; overflow-wrap:break-word"><span class="text-info lead">@c.Content</span></p>
                        </div>
                    </div>
                 }
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
