@model Eventis.Models.Identity.IndexViewModel

@{
    ViewBag.Title = "My Profile";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="jumbotron">
    <div>
        <h4>Your info.</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Email:</dt>
            <dd>
                <div>@(Model.Email)</div>
            </dd>
        </dl>
        <hr />
    </div>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>


                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>
